body{
  background-color: black;
  scrollbar-width: none;
}
.contac a button{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover{
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #ffffff;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #dd3737, 0 0 20px #b40c0c;
    box-shadow: 0 0 5px #db2222, 0 0 20px #f72e2ea8, 0 0 50px #ff0000,
      0 0 100px #ff0000;
  }
